<div class="row well input-box">
  <div class="col-md-5">
    <% if user_signed_in? %>
      <%= link_to "ADD NEW PROPERTY", new_property_path, class: 'btn btn-success', :style => "margin-top:6px;" %>
    <% end %>
  </div>
  <div class="col-md-7">
    <%= form_tag(properties_path, :method => "get", class: "navbar-form", id: "search-form") do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Properties" %>
          <%= select_tag :min_price, options_for_select([50000, 100000, 150000, 200000, 250000, 300000, 350000, 400000, 450000, 500000], params[:min_price]), prompt: "Select Min", class: "form-control" %>
 
          <%= select_tag :max_price, options_for_select([100000, 150000, 200000, 250000, 300000, 350000, 400000, 450000, 500000, 550000, 600000, 650000, 700000, 750000, 800000], params[:max_price]), prompt: "Select Max", class: "form-control" %>
        <button class="btn btn-default btn-primary" type="submit">Search</i></button>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Check Available Properties</h3>
  </div>
</div>

<div class="row" >
  <div class="col-md-12">
    <table class="table table-hover">
      <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Approx Price</th>
        <th>Status</th>
        <th></th>
      </tr>
        <% @properties.each do |property| %>
          <tr>
            <td style="text-transform:capitalize;font-size:13px;"><%= property.title %></td>
            <td><%= property.location %></td>
            <td><%= property.approx_price %></td>
            <td><%= property.status %></td>
            <td><%= link_to "More Details", property_path(property.id), class: "btn btn-xs btn-info pull-right font-white" %></td>
          </tr>
        <% end %>
    </table>
    <div>
      <ul class= "pagination pull-right">
        <%= paginate @properties %>
      </ul>
    </div>
  </div>
</div>