<div class="row">
  <div class="col-md-6">
      <h3>Property details</h3>
  </div>

  <div class="col-md-6">
      <p><%= link_to "Back", properties_path, class: 'btn btn-default pull-right', :style => "margin-top:20px" %></p>
  </div>
</div>
<hr>

<%#= image_tag(@property_attachments.last.avatar_url(:small_thumb)) %>

<div class="row">
  <div class="col-md-4">
    <p>
      <% if @property_attachments.empty? %>
      <div class="image-msg">Image not available</div>
      <% else %>
        <% @property_attachments.each_with_index do |property_img, index| %>
          <% if index == 0 %>
            <div><%= link_to image_tag(property_img.avatar_url(:thumb).to_s, :alt => 'Profile', class: "img-thumbnail"), property_img.avatar_url, :title => @property.title, :rel => "lightbox", :class => "cursor_zoom_in" %></div>
          <% else %>
            <%= link_to image_tag(property_img.avatar_url(:small_thumb).to_s, :alt => 'Profile', class: "img-rounded"), property_img.avatar_url, :title => @property.title, :rel => "lightbox", :class => "cursor_zoom_in" %>
          <% end %>
        <% end %>
      <% end %>
    </p>
  </div>

  <div class="col-md-6">
    <h3 style="text-transform:capitalize"><%= @property.title %></h3>
      <h4>
        <span class="label label-info"><span class="glyphicon glyphicon-map-marker"></span> <%= @property.location %></span>
        <span class="label label-warning"><span class="glyphicon glyphicon-tags"></span> Rs.<%= number_with_delimiter(@property.approx_price) %></span>
        <span class="label label-primary"><span class="glyphicon glyphicon-stats"></span> Status <%= @property.status %></span>
      </h4>
      <br/>
      <div style="text-align=justify;"><%= simple_format @property.description %></div>
      <br/>
      <h4><span class="label label-primary"><span class="glyphicon glyphicon-hand-right"></span> Sale within <%= @property.approx_sale_duration %></span></h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to "Request quotes", contact_path, class: "pull-right btn btn-info font-white" %>
    <%= link_to "Edit property details", edit_property_path, class: "pull-right btn btn-primary font-white", :style => "margin-right:20px;" if current_user.try(:is_admin) == true %>
    <%= link_to "Delete property", property_path(@property), method: :delete, data: { confirm: 'Are you sure, you want to delete this property? This action can not be reverted.' }, class: "pull-right btn btn-danger font-white", :style => "margin-right:20px;" if current_user.try(:is_admin) == true %>
  </div>
</div>

<div class="row">
  <h3>Reviews </h3>
  <hr>
  <% @property.comments.each do |comment|%>
    <div class="col-md-8 set-comment-sec">
      <div class="row">
        <div class="col-md-2">
          <div>
           <% if comment.user.provider == "facebook" || comment.user.provider == "google_oauth2" %>
              <%= image_tag comment.user.image, :style => "width:40px;height:40px" %>
            <% else %>
              <%= image_tag "showpic.php.png", :style => "width:40px;height:40px" %>
            <% end %>
          </div>
          <div>
            <strong><%= comment.user.name.capitalize %></strong>
          </div>
          <div>
            <%="#{time_ago_in_words(comment.created_at)} ago"%>
          </div>
        </div>

        <div class="col-md-8 set-comment-divider">
          <%= simple_format comment.message %>
        </div>
        
        <div class="col-md-2">
          <% if user_signed_in? && (comment.user_id == current_user.id || current_user.is_admin == true) %>
            <%= link_to "Remove", property_comment_path(@property, comment), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-xs btn-danger pull-right" %>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render '/comments/form' if user_signed_in? %>
  </div>
</div>