<div class="row">
	<div class="col-lg-12">
		<h4 class="text-center">sadd sdahkj jkh jkhasd jkhkjsd kljh asd jkh asd kj h  sa sdasdas <br> sjkhjkh lsjkdh fhj khk jhkjhjksdf dsfkjhkhkj jkhjh</h4>
    <% if current_user.try(:is_admin) == true %>
      <p><%= link_to "Show request detail", request_details_path, class: 'btn btn-default pull-right' %></p>
    <% end %>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-lg-6">
		<h3>Owner / company name </h3><br>
		<p>address</p><br>
		<p>phone</p><br>
		<p>email id</p><br>
	</div>

  <div class="col-lg-4">
    <h3>Submit request for site seen</h3>
    <%= form_for(@request, url: submit_request_path) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="form-group">
        <%= f.text_field :name, :class => "form-control", :placeholder => "Your Name"  %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, :class => "form-control", :placeholder => "Your Email"  %>
      </div>

      <div class="form-group">
        <%= f.text_field :phone, :class => "form-control", :placeholder => "Your contact number"  %>
      </div>

      <div class="form-group">
        <%= f.text_area :message, :class => "form-control", :placeholder => "Your Message"  %>
      </div>
      <%= f.submit 'Submit', :class => "btn btn-default btn-success" %>
    <% end %>
  </div>
</div>