<div class="row">
	<div class="col-lg-12">
		<h4 class="text-center set-fonts-1">To become the people's and the business community's first and the most preferred choice as their real estate partner and developer via superior performance, integrity and innovation. Scaling new heights of excellence in all that we do, ushering productivity through Transparency, Ethics and Ambition.</h4>
    <% if current_user.try(:is_admin) == true %>
      <p><%= link_to "Show request detail", request_details_path, class: 'btn btn-default pull-right' %></p>
    <% end %>
	</div>
</div>
<br>

<h3 class="set-fonts" style="color:#428BCA">Contact us</h3>
<hr>

<div class="row">
<!-- 	<div class="col-lg-5">
    <!DOCTYPE html>
    <html>
      <head>
        <style>
          #map_canvas {
            width: 400px;
            height: 300px;
          }
        </style>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
          function initialize() {
            var map_canvas = document.getElementById('map_canvas');
            var map_options = {
              center: new google.maps.LatLng(25.34709, 74.635577),
              zoom: 15,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(map_canvas, map_options)
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
      </head>
      <body>
        <div id="map_canvas"></div>
      </body>
    </html>
  </div> -->

  <div class="col-lg-4">
    <h3 class="set-fonts">Corporate office</h3><br>
    <address>
      <strong>G9 Builders & developers</strong><br>
      Sec-62, Noida <br>
      154225 - UP <br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>

    <address>
      <strong>Full Name</strong><br>
      <a href="mailto:#">admin@g9builders.com</a>
    </address>
  </div>  

  <div class="col-lg-5 pull-right">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="text-center">SUBMIT REQUEST FOR SITE SEEING</h4>
      </div>
      <div class="panel-body">
<!--   <a href="#" class="list-group-item active">
        <h4 class="text-center">Submit request for site seen</h4>
      </a> -->

    <%= form_for(@request, url: submit_request_path) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="form-group">
        <%= f.text_field :name, :class => "form-control", :placeholder => "Your Name"  %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, :class => "form-control", :placeholder => "Your Email"  %>
      </div>

      <div class="form-group">
        <%= f.text_field :phone, :class => "form-control", :placeholder => "Your contact number"  %>
      </div>

      <div class="form-group">
        <%= f.text_area :message, :class => "form-control", :placeholder => "Your Message"  %>
      </div>
      <%= f.submit 'Submit', :class => "btn btn-default btn-primary pull-right" %>
    <% end %>
  </div>
  </div>
  </div>
</div>
